.body-container {
  margin: 1rem 2rem 0 2rem;
}

input {
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

input:invalid[focused="true"] {
  border: 2px solid red;
}

input:invalid[focused="true"]  ~ .error {
  display: block;
}

.school_cards {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.6rem;
}

.school-heading {
  font-size: 2rem;
}

.school-head {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.add-school-error {
  background-color: #181823;
  color: white;
  margin: 5rem 25rem 5rem 25rem;
  padding: 3rem;
  text-align: center;
}

.add-school-error span {
  color: rgb(193, 58, 58);
}

.add-school-error-link {
  text-decoration: none;
  color: #E9F8F9;
}

.add-school-error-link:hover {
  color: #537FE7 ;
}

.add-school-error-text {
  font-size: 3rem;
  margin: 2rem;
}

@media screen and (max-width: 450px) {
  .body-container {
    margin: 0.3rem;
  }
}