.car_img {
    max-width: 250rem;
    max-height: 40rem;
}

.car_main_text {
  font-size: 4rem;
  font-weight: 700;
}

.car_secondary_text {
  font-size: 1.5rem;
}

@media screen and (max-width: 1150px) {
    .car_main_text {
      font-size: 3rem;
    }
    .car_secondary_text {
      font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
  .car_main_text {
    font-size: 2rem;
  }
  .car_secondary_text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 385px) {
  .car_main_text {
    font-size: 1.2rem;
  }
  .car_secondary_text {
    display: none;
  }
}